<%= render partial: 'superusers/head' %>

<head>
<style>
body {
  background-image: url(http://www.beachedonblue.co.nz/wp-content/uploads/2014/05/main_background2.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

a{
  color: rgba(255, 255, 255, 0.8); 
}

.login_form {
  margin-left: 400px;
  margin-top: -60px;
  margin-bottom: 160px;
  font-size: 24px;
  color: rgb(255,255,255);
  max-width: 400px;
  text-align: center;
}

.field {
  /*display: inline;*/
}

input#email {
  width: 163px;
  padding: 3px;
}

input#password {
  padding: 3px;
}

input[type="submit"] {
      background: yellow;
      color: black;
      padding: 5px 10px 5px 10px;
      font-size: 14px;
      text-align: left;
}
</style>

<body>
<h4>Seat<br>
&nbsp&nbsp<small><i>yourself</i></small></h4><br>

<div class="login_form">
  Experience for yourself the convenience of a personal reservation service.<br>
  <br>

  <fieldset>
  <legend>Sign Up</legend>
  <%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %>:
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone %>:
    <%= f.telephone_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %>:
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>:
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :Rewrite_password %>:
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>
</fieldset>
</body>


