<style>
img {
  border-radius: 20px;
  width: 250px;
  height: 140px;
 }
</style>

<body>

<h1>Seat<br>
&nbsp&nbsp<small><i>yourself</i></small><br><br>
</h1>



<% if current_user != nil %>
  <h2><%= link_to "Home", restaurants_url, class: 'button' %>
  <%= link_to "Your Reservations", user_path(current_user), class: 'button' %>
  <%= link_to "Logout", session_path("this session"), class:'button', :method => :delete %>
<% end %></h2>


<h3> Choose Your Dining Experience:</h3>
<div class = "search_form">
<%= form_tag(restaurants_path, :method => "get" ) do %>
    <%= text_field_tag :search, params[:search], id:"search_form", placeholder: "Search Restaurants" %>
    <%= submit_tag "Search by Attribute", :name => nil %>
    <%= link_to "See All", restaurants_path %>
  <% end %>
</div>
<% @restaurants.each do |restaurant| %>
    <ul class = "restaurant" ><img src="http://sydney.park.hyatt.com/PropertyWebsites/park/sydph/Media/All/Park-Hyatt-Sydney-The-Dining-Room-1280x720.jpg/_jcr_content/renditions/250x140xcq5dam.thumbnail.250.140.png.pagespeed.ic.a9FKDpE6Zq.jpg">
      <li>

        <%= link_to restaurant.name, restaurant_url(restaurant.id), id:"listitem" %>
      </li>
    </ul>

<% end %>
</body>



<!-- <%= link_to "DEVELOPPER DELETE", "/restaurants/1/reservations/1", method: :delete%> -->
