
<body>
<h1>Seat<br>
&nbsp&nbsp<small><i>yourself</i></small></h1>

<%= link_to "Home", restaurants_url, class:'button' %><br>

<% if current_user != nil %>
  <%= link_to "Your Reservations", user_path(current_user), class:'button' %><br>
  <%= link_to "Logout", session_path("this session"), class:'button', :method => :delete %>
<% end %>

<div class = "RestaurantInfo"><h3><%= @restaurant.name %></h3>
<%= @restaurant.address %>, Toronto |
    <a href = <%= @restaurant.website %> target="_blank">Website </a><br>
    Cuisine: <%= @restaurant.cuisine %> | Hours: Daily, 9am - 9pm
</div>


<% if current_user %>
<%= form_for([@restaurant, @reservation]) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this review from being saved:</h2>

        <ul>
        <% @reservation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="guest_field">
      <%= f.label :guests %>:<br />
      <%= f.number_field :number_of_guests %>
    </div>
    <br>
    <div class="field">
      <%= f.label :reservation_time %><br />
      <%= f.datetime_select :reservation_time, {minute_step: 15, ampm: true, start_hour: 9, end_hour: 20} %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit class: "submit"%>
    </div>
  <% end %>
<% else %>
  <h3> You are not logged in, please log in to make a reservation. </h3>
<% end %>


<h3>Reservations for <%= @restaurant.name %></h3>

<% (@restaurant.reservations.size-1).times do |index| %>
  <p>
    <%= @restaurant.reservations[index].reservation_time %> <%="for"%> <%= @restaurant.reservations[index].number_of_guests %> <br>
  </p>
<% end %>
</body>
