<h1> Welcome to <%= @restaurant.name %> <h1>
<h3> We are located at <%= @restaurant.address %> </h3>
Come find us at <%= @restaurant.website %>

<% if current_user %>
  <%= form_for([@restaurant, @reservation]) do |f| %>
    <% if @reservation.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this review from being saved:</h2>

        <ul>
        <% @reservation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :number_of_guests %><br />
      <%= f.number_field :number_of_guests %>
    </div>
    <div class="field">
      <%= f.label :reservation_time %><br />
      <%= f.datetime_select :reservation_time %>
    </div>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email %>
    </div>
    <div class="actions">
      <%= f.submit class: "submit"%>
    </div>
  <% end %>
<% else %>
  <h3> You are not logged in, please log in to make a reservation. </h3>
<% end %>

<p>Reservations for <%= @restaurant.name %></p>

<% (@restaurant.reservations.size-1).times do |index| %>
  <p>
    <%= @restaurant.reservations[index].reservation_time %> <%="for"%> <%= @restaurant.reservations[index].number_of_guests %> <br>
  </p>
<% end %>
