<!DOCTYPE html>
<html>
<head>
  <title>Seatyourself</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>

</header>

<% flash.each do |key, value | %>
  <%= value %> <br>
<% end %>


<%= yield %>

<div id="footer">
  <br><br>
  <p class="userinfo">
    <% if current_user %>
      You are currently signed in as <%= current_user.name %> <%= link_to 'View Profile', user_path(current_user) %>| <%= link_to "Logout", session_path("this session"), :method => :delete %>
    <% else %>
      <%= link_to "Login", new_session_path %> or <%= link_to "Sign-Up", new_user_path %>
    <% end %>
  </p>
  <br><br><br><br><br><br><br>
  <p class="restaurantowner">
    Do you own a restaurant? <br>
    <%= link_to "Login", new_session_path %> or
    <%= link_to "Sign-up", new_superuser_path %> as an owner!
  </p>
</div>
</body>
</html>
